{# src/AppBundle/Resources/views/form/add.html.twig #}

<!-- Form's view -->
<button type="button" href="#command-tunnel" class="btn btn-warning" data-toggle="collapse" id="buy">Acheter un billet</button>

<div class="collapse" id="command-tunnel">
    <div id="order-form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.visitDay) }}
        {{ form_row(form.type) }}
        {{ form_row(form.email) }}
    </div>
    <button type="button" href="#" class="show_order btn btn-warning">Continuer</button>
    <div id="ticket-tunnel">
        {% for ticket in form.tickets %}
            {{ include("AppBundle:form:prototype.html.twig") }}
        {% endfor %}
    </div>
    <button type="submit" class="cart btn btn-warning">Continuer</button>
    {{ form_end(form) }}
    <button type="button" href="#" class="add_ticket btn btn-warning">Ajouter un billet</button>
    <button type="button" href="#" class="delete_ticket btn btn-warning">Supprimer billet</button>
    <button type="button" href="#" class="previous btn btn-warning">Retour</button>
</div>
