{# src/AppBundle/Resources/views/form/prototype.html.twig #}

<!-- Ticket's form -->

<div id="ticket-form">
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.country) }}
    {{ form_row(form.birthdayDate) }}
    {{ form_row(form.reducedPrice) }}
</div>
