{# src/AppBundle/Resources/views/form/prototype.html.twig #}

<!-- Ticket's form -->

<div class="ticket-form col-md-3">
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.country) }}
    {{ form_row(form.birthdayDate) }}
    <div class="form-group">
        {{ form_widget(form.reducedPrice) }}
        <a class="chk-popover" data-trigger="hover" data-placement="bottom" data-toggle="popover" data-content="Un justificatif sera demandé lors de l'entrée" ><i class="text-warning fa fa-exclamation-triangle" > Important!</i></a>
    </div>
    <button type="button" href="#" class="delete_ticket btn btn-warning">Supprimer billet</button>
</div>
